<app-reservation>

<div class="alert alert-success alert-dismissible" role="alert" *ngIf="reservationMailSent">
  <button type="button" class="close" (click)="reservationMailSent = false"><span aria-hidden="true">&times;</span><span class="sr-only" translate="reservation-page-complete.cancel"></span></button>
  <strong translate="email.confirmation-email-sent"></strong>
</div>


<div *ngIf="reservationInfo && event">
  <div class="alert alert-success mb-5">
      <div class="row">
          <div class="col-sm-12">
            <div class="h3" [innerHTML]="'reservation-page-complete.info-assign' | translate: {'0':event.displayName}"></div>
          </div>
      </div>
      <div class="row mt-2">
          <div class="col-sm-12" [innerHTML]="'reservation-page-complete.info-assign-email' | translate: {'0':reservationInfo.email}"></div>
      </div>
      <div class="row mt-3">
        <div class="col-12 col-md-5 mb-1 mb-md-0" [class.offset-md-2]="downloadBillingDocumentVisible" [class.offset-md-7]="!downloadBillingDocumentVisible">
          <button type="button" (click)="reSendReservationEmail()" class="btn btn-default btn-block"><fa-icon [icon]="['far', 'envelope']" a11yRole="presentation"></fa-icon> {{'reservation-page-complete.resend-reservation-email'|translate}}</button>
        </div>
        <div class="col-12 col-md-5 mb-md-0" *ngIf="downloadBillingDocumentVisible">
            <ng-container>
                {{' '}}
                <a *ngIf="reservationInfo.invoiceNumber !== null"
                    class="btn btn-default btn-block"
                    [href]="'/api/v2/public/event/'+event.shortName+'/reservation/'+reservationInfo.id+'/invoice'"
                    target="_blank">
                    <fa-icon [icon]="['fas', 'download']" a11yRole="presentation"></fa-icon> {{'reservation-page-complete.download-your-invoice'|translate}}
                </a>
                <a *ngIf="reservationInfo.invoiceNumber === null"
                    class="btn btn-default btn-block"
                    [href]="'/api/v2/public/event/'+event.shortName+'/reservation/'+reservationInfo.id+'/receipt'"
                    target="_blank">
                    <fa-icon [icon]="['fas', 'download']" a11yRole="presentation"></fa-icon> {{'reservation-page-complete.download-your-receipt'|translate}}
                </a>
              </ng-container>
        </div>
      </div>
  </div>

  <div *ngIf="!ticketFormVisible" class="mt-5">
    <hr>
    <div class="row d-flex justify-content-between">
      <div class="col-md-5 order-md-1 col-12 mb-2">
        <a class="block-button btn btn-success" [routerLink]="['/event', event.shortName]" translate="buy-other-tickets"></a>
      </div>
      <div class="col-md-5 order-md-0 col-12 mt-2 mt-md-0 mb-2">
        <a class="block-button btn btn-light" [attr.href]="event.websiteUrl" translate="to-event-site"></a>
      </div>
    </div>
    <div class="text-center text-muted mt-3">{{'reservation-page-complete.order-information' | translate: {'0': reservationId, '1': reservationInfo.firstName + ' ' + reservationInfo.lastName} }}</div>
    <div class="text-center mt-1">
      <a href="https://alf.io" [attr.title]="'alfio.credits' | translate" target="_blank" rel="noreferrer noopener" translate="alfio.credits"></a>
    </div>
  </div>
</div>

</app-reservation>
